<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Addr }}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,target-densityDpi=device-dpi,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ .Addr }}" href="{{ .RssFeed }}" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for {{ .Addr }}" href="{{ .AtomFeed }}" />

    <link rel="stylesheet" href="/static/normalize.css">

    <style>
      .ellipsis {
        position: relative;
        display: inline-block;
        word-wrap: normal;
        word-break: normal;
        overflow: hidden;
        line-height: 1;
        width: 1em;
        text-indent: 2em;
      }

      .ellipsis::after {
        position: absolute;
        display: block;
        bottom: 0;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 2px;
        border-radius: 1px;
        background-color: currentColor;
        box-shadow: -0.3em 0 currentColor, 0 0 currentColor, 0.3em 0 currentColor;
      }

      table {
        margin-bottom: 2.5rem;
      }

      body {
        line-height: 1.6;
        font-weight: 400;
        font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #222;
      }

      a {
        color: #0090ff;
      }

      table th:first-child,
      table td:first-child {
        padding-left: 15px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
      }

      table thead {
        display: none;
      }

      table th,
      table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #e1e1e1;
      }

      table td {
        display: flex;
      }

      table tr:nth-child(even) {
        background: #f4f4f4;
      }

      table td::before {
        content: attr(label);
        font-weight: bold;
        width: 33%;
        min-width: 33%;
      }

      @media only screen and (min-width: 50em) {
        body {
          font-size: 1em;
        }

        table {
          display: table;
        }

        table td {
          display: table-cell;
        }

        table td::before {
          content: "";
        }

        table thead {
          display: table-header-group;
        }
      }
    </style>
  </head>
  <body>
    <div>
      <div>
      {{ $length := len .Messages }}{{ if eq $length 0 }}
        <p>There are no messages for this address yet, if this is your first time viewing this page your address was just registered. Check back after making some transfers.</p>
      {{ else }}
      <table>
        <thead>
          <tr>
            <th>Nonce</th>
            <th>Message ID</th>
            <th>To</th>
            <th>Value</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
        {{ range .Messages }}
          <tr>
            <td label="Nonce">{{ .Nonce }}</td>
            <td label="Message ID"><a href="https://filfox.info/en/message/{{ .CID }}">{{ .CID | ellipsis_start}}<span class="ellipsis">{{ .CID | ellipsis_middle }}</span>{{ .CID | ellipsis_end }}</a></td>
            <td label="To"><a href="https://filfox.info/en/address/{{ .To}}">{{ .To | ellipsis_start }}<span class="ellipsis">{{ .To | ellipsis_middle }}</span>{{ .To | ellipsis_end }}</a></td>
            <td label="Value"><data value="{{ .ValueRaw }}">{{ .Value }}</data></td>
            <td label="Timestamp"><time datetime="{{ .DateTime }}">{{ .DateTime }}</time></td>
          </tr>
        {{ end }}
        </tbody>
      </table>
      {{ end }}
      </div>
    </div>
  <script>
    document.querySelectorAll("time").forEach((e) => e.innerText = new Date(e.getAttribute("datetime")).toLocaleString())
  </script>
  </body>
</html>
